@font-face {
	font-family: HankenGrotesk;
	font-weight: 600;
	src: url('assets/fonts/static/HankenGrotesk-Bold.ttf');
}

@font-face {
	font-family: HankenGrotesk;
	font-weight: 200;
	src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}

@font-face {
	font-family: HankenGrotesk;
	font-weight: 400;
	src: url('assets/fonts/static/HankenGrotesk-Medium.ttf');
}