@import url('fonts.css');

html {
    font-family: HankenGrotesk;
    font-weight: 400;
    font-size: 18px;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: max(50vw, 600px);
    aspect-ratio: 4/3;
    display: flex;
    border-radius: 30px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 16px 16px 32px -12px hsl(221, 100%, 96%);
}

.result, .summary {
    flex: 1 1 50%;
    padding: 5%;
    box-sizing: border-box;
}

.result {
    display: grid;
    grid-template-rows: 10% 45% 20% 25%;
    justify-items: center;
    align-items: center;
    color: white;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
}

.result h2 {
    color: hsl(241, 100%, 89%);
}

.circle {
    width: 60%;
    margin: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle .score {
    font-size: 4em;
    font-weight: 600;
}

.circle .of {
    color: hsla(241, 100%, 89%, 0.5);
}

.great {
    font-size: 2.5em;
}

.note {
    color: hsl(241, 100%, 89%);
    font-size: 1.2rem;
    align-self: start;
    text-align: center;
    padding: 0 5%;
    box-sizing: border-box;
}

.summary {
    display: grid;
    align-items: center;
    grid-template-rows: 10% 75% 15%;
}

.summary .points {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.points div {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 2.5%;
    border-radius: 15px;
}

.description, .points-score {
    flex: 1 1 50%;
}

.description {
    display: flex;
    align-items: center;
    font-size: 1.15rem;
}

.description img {
    margin-right: 5%;
}

.reaction { background-color: hsla(0, 100%, 67%, 0.1) }
.reaction .description { color: hsl(0, 100%, 67%) }

.memory { background-color: hsla(39, 100%, 56%, 0.1) }
.memory .description { color: hsl(39, 100%, 56%) }

.verbal { background-color: hsla(166, 100%, 37%, 0.1) }
.verbal .description { color: hsl(166, 100%, 37%) }

.visual { background-color: hsla(234, 85%, 45%, 0.1) }
.visual .description { color: hsl(234, 85%, 45%) }

.points-score {
    display: flex;
    justify-content: flex-end;
    word-spacing: 0.2rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
    position: absolute;
    bottom: 5px;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 600px) {
    html {
        font-size: 0.8rem;
    }
    .container {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        aspect-ratio: unset;
    }

    .result {
        border-radius: 0 0 30px 30px;
    }

    .circle {
        width: clamp(150px, 50vw, 200px);
    }
    
}