:host {
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.description ul {
    display: flex;
    list-style: none;
    gap: 1.3rem;
    padding: 0;
}

.description li {
    display: flex;
    width: 15px;
    height: 15px;
}

a {
    background-color: grey;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: white;
}

.role {
    font-size: 2rem;
    font-family: 'Bellefair';
    color: rgba(255, 255, 255, 0.5);
}

.name {
    font-size: 3.5rem;
    margin: 1rem 0;
    font-family: 'Bellefair';
}

.bio {
    max-width: 500px;
    font-size: 1.25rem;
    font-family: 'Barlow';
}

img {
    width: 90%;
}