<div class="description">
    <div class="crew-member">
        <span class="role">{{ crewMemberData.role | uppercase }}</span>
        <p class="name">{{ crewMemberData.name | uppercase }}</p>
        <p class="bio">{{ crewMemberData.bio }}</p>
    </div>
    <ul>
        <li><a [routerLink]="'../Douglas'" routerLinkActive="active"></a></li>
        <li><a [routerLink]="'../Mark'" routerLinkActive="active"></a></li>
        <li><a [routerLink]="'../Victor'" routerLinkActive="active"></a></li>
        <li><a [routerLink]="'../Anousheh'" routerLinkActive="active"></a></li>
    </ul>
</div>
<div class="person">
    <img [src]="crewMemberData.images.png" alt="person">
</div>