/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-top{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.bg-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.container{
    position: relative;
    text-align: center;
    height: 100vh;
    min-height: 900px;
    width: 100vw;
}
.header{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: hsl(233, 13%, 49%);
    padding: 2% 0;
    font-weight: bolder;
}
.price-switch-box{
    user-select: none;
}
.price-switch-box > span{
    color: hsl(234, 14%, 74%);
    font-size: 1.2rem;
    margin: 0 5px;
}
.price-switch{
    display: inline-block;
    width: 66px;
    height: 36px;
    background-color: hsl(233, 13%, 49%);
    position: relative;
    border-radius: 24px;
    vertical-align: middle;
}
.switch-position{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: whitesmoke;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.switch-annually{
    left: 3px;
}
.switch-monthly{
    right: 3px;
}
.price-holder{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}
.price-holder > span:first-of-type{
    font-size: 2.5rem;
    padding: 10px;
}
.box{
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 80%;
    justify-content: center;
    position: relative;
}
.component {
    width: 30%;
    min-width: 300px;
    height: 100%;
    min-height: 400px;
    max-height: 600px;
    text-align: center;
    box-sizing: border-box;
    padding: 3% 2%;
    background-color: white;
    border-radius: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    margin: 2% 0 5%;
    color: hsl(232, 13%, 33%);
    box-shadow: 0 10px 25px rgb(235, 235, 235);
}
.component *{
    margin: 4% 0;
}
.component hr{
    height: 1px;
    border-width: 0;
    color: hsl(228, 14%, 93%);
    background-color: hsl(228, 14%, 93%);
}
.component:nth-of-type(2) {
    padding: 2.5% 2%;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    transform: scaleX(1.05) scaleY(1.1)
}
.component:nth-of-type(2) hr{
    color: hsl(236, 72%, 79%);
    background-color: hsl(236, 72%, 79%);
}
.component > button{
    cursor: pointer;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    width: 90%;
    height: 10%;
    color: white;
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
    border-radius: 8px;
    transition: 0.3s;
}
.component:nth-of-type(2) > button{
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);
}
.component > button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.attribution { 
    position: absolute;
    bottom: 5px;
    height: 15px;
    text-align: center;
    padding: 5px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.no-display{
    display: none;
}

@media only screen and (max-width: 1280px) {
    .container{
        height: 220vh;
        min-height: 1800px;
    }
    .box{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }
    .bg-bottom{
        display: none;
    }
    .header{
        padding: 6% 0 4%;
    }
    .price-switch-box{
        margin: 15px;
    }
    .component{
        margin: 15px 0;
    }
    .component:nth-of-type(2){
        width: 30%;
        min-width: 300px;
        height: 100%;
        min-height: 450px;
        max-height: 600px;
        padding: 3% 2%;
        transform: none;
    }
}