:host {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 40% 40%;
    height: 100%;
}

.description {
    display: grid;
    grid-template-rows: 10% 70% 20%;
}

.planet {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;

    img {
        width: 85%;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
    }
}

nav {
    ul {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        list-style: none;
        gap: 5%;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1%;
            position: relative;
        }
    }

    a {
        font-family: 'Barlow Condensed', serif;
        text-decoration: none;
        color: white;
        letter-spacing: 2.7px;
        text-transform: uppercase;

        &.active::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: white;
            height: 2px;
            left: 0;
        }

        &:hover:not(.active)::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #979797;
            height: 3px;
            left: 0;
        }
    }
}

.destination-target {
    align-self: center;

    .target-name {
        font-size: 6.25rem;
        margin: 1rem 0;
        font-family: 'Bellefair';
    }
    
    .target-desc {
        font-size: 1.125rem;
        font-family: 'Barlow';
        line-height: 32px;
        color: #D0D6F9;
    }
}

hr {
    border-color: #383B4B;
}

.target-info {
    display: flex;

    .distance, .travel-time {
        flex: 1;
        display: flex;
        flex-direction: column;
    
        .info-header {
            font-family: 'Barlow Condensed';
            font-size: 0.875rem;
            color: #D0D6F9;
            margin: 5% 0;
        }
        
        .info-data {
            font-family: 'Bellefair';
            font-size: 1.75rem;
            text-transform: uppercase;
        }
    }
}


@media screen and (max-width: 950px) {
    :host {
        height: 100%;
        grid-template-rows: 40% 40%;
        grid-template-columns: auto;
    }

    .planet {
        img {
            height: 85%;
            width: auto;
        }
    }

    .description {
        place-items: center;
        text-align: center;
        height: min-content;
    }

    nav {
        width: 60%;

        ul {
            justify-content: space-around;
        }
    }

    .target-info {
        width: 80%;
    }
    
}