<div class="planet">
    <img [src]="destinationTargetData.images.png" alt="planet">
</div>
<div class="description">
    <nav>
        <ul>
          <li>
            <a [routerLink]="'../Moon'" routerLinkActive="active">Moon</a>
          </li>
          <li>
            <a [routerLink]="'../Mars'" routerLinkActive="active">Mars</a>
          </li>
          <li>
            <a [routerLink]="'../Europa'" routerLinkActive="active">Europa</a>
          </li>
          <li>
            <a [routerLink]="'../Titan'" routerLinkActive="active">Titan</a>
          </li>
        </ul>
      </nav>
    
    <div class="destination-target">
        <p class="target-name">{{ destinationTargetData.name | uppercase }}</p>
        <p class="target-desc">{{ destinationTargetData.description }}</p>
        <hr>
    </div>

    <div class="target-info">
        <div class="distance">
            <span class="info-header">AVG. DISTANCE</span>
            <span class="info-data">{{ destinationTargetData.distance }}</span>
        </div>
        <div class="travel-time">
            <span class="info-header">EST. TRAVEL TIME</span>
            <span class="info-data">{{ destinationTargetData.travel }}</span>
        </div>
    </div>
</div>