@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: white;
}

header {
    flex-basis: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    align-self: flex-end;
    position: relative;
}

header img {
    height: 50%;
}

nav {
    height: 100%;
    flex-basis: 50%;
    padding: 0 5%;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);
}

nav ul {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

hr {
    z-index: 1;
    width: 35%;
    top: 50%;
    margin: 0;
    left: 25%;
    transform: translateX(-50%);
    border: 1px solid rgba(128, 128, 128, 0.4);
    position: absolute;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

a {
    text-decoration: none;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 40% 1fr 50%;
    padding: 10%;
    box-sizing: border-box;
    justify-content: space-between;
    height: fit-content;
}

.left, .right {
    display: flex;
    
}

.left {
    height: fit-content;
    flex-basis: 35%;
    flex-direction: column;
    justify-content: center;
}

.left span {
    font-size: 1.75rem;
    font-family: 'Barlow Condensed';
    letter-spacing: 4.72px;
    text-transform: uppercase;
} 

.left h1 {
    font-weight: lighter;
    font-family: 'Bellefair', serif;
    font-size: 10rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

.left p {
    font-family: 'Barlow';
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 0;
}


.right {
    flex-basis: 50%;
    justify-content: flex-end;
    align-items: flex-end;
}

.right a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    aspect-ratio: 1/1;
    background-color: aliceblue;
    color: black;
    border-radius: 50%;
    font-size: 2rem;
    font-family: 'Bellefair';
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}