@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5vh 0 0 0;
    color: white;
}

header {
    flex-basis: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    align-self: flex-end;
    position: relative;
}

header img {
    height: 50%;
}

nav {
    height: 100%;
    flex-basis: 50%;
    padding: 0 5%;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);
}

nav ul {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

hr {
    z-index: 1;
    width: 35%;
    top: 50%;
    margin: 0;
    left: 25%;
    transform: translateX(-50%);
    border: 1px solid rgba(128, 128, 128, 0.4);
    position: absolute;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

a {
    font-family: 'Barlow Condensed', serif;
    text-decoration: none;
    color: white;
    letter-spacing: 2.7px;
    text-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

.nav-number {
    font-weight: bolder;
}

main {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin: auto;
}