@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 1%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(27, 66%, 92%);
}

.container {
    width: clamp(400px, 40vw, 600px);
    height: 70vh;
    display: grid;
    grid-template-rows: 18% 1fr;
    grid-template-columns: 100%;
    gap: 25px;
    margin: auto;
}

.balance {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 15px;
    padding: 0 35px;
    background-color: hsl(10, 79%, 65%);
}
.balance img {
    margin-left: auto;
}

.balance-value {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.balance-value .value {
    font-weight: 700;
    font-size: 1.6rem;
}

.chart {
    padding: 35px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    display: grid;
    width: 100%;
    grid-template-rows: 70% 5% 25%;
    grid-template-columns: 100%;
}

.chart-top, .chart-bottom {
    height: 100%;
    width: 100%;
}

.chart-top {
    display: grid;
    grid-template-rows: 15% calc(85% - 10px);
    grid-template-columns: 100%;
    gap: 10px;
}

.chart-top-header {
    font-weight: 700;
    font-size: 1.6rem;
    color: hsl(25, 47%, 15%);
}

.chart-top-bars {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 100%;
    box-sizing: border-box;
}

.chart-top-bars > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;
    max-width: 65px;
    
}

.chart-top-bars > div > .bar {
    width: 80%;
    height: 75%;
    max-height: 75%;
    background-color: hsl(10, 79%, 65%);
    border-radius: 5px;
    transition: opacity 0.2s;
    
}

.chart-top-bars > div:hover > .bar {
    opacity: 0.8;
}

.chart-top-bars > div > .amount {
    container-type: inline-size;
    display: grid;
    place-items: center;
    border-radius: 5px;
    width: 110%;
    padding: 3px;
    visibility: hidden;
    aspect-ratio: 2/1;
    background-color: black;
    font-size: 14px;
    color: hsl(33, 100%, 98%);
    user-select: none;
    z-index: 1;
}

.chart-top-bars > div:hover > .amount {
    visibility: visible;
    color: aliceblue;
}

.chart-top-bars > div > span {
    color: hsl(28, 10%, 53%);
}

.chart-bottom {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;
    width: 100%;
    color: hsl(28, 10%, 53%);
}

.chart-bottom .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chart-bottom .left .value {
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    font-size: 2.4rem;
}

.chart-bottom .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
}

.chart-bottom .right .percentage {
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    font-size: 1.1rem;
}



hr {
    height: 2px;
    width: 100%;
    background-color: hsl(27, 66%, 92%);
    border: 0;
}
