@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

html {
	font-size: 18px;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(62, 191, 255);
	padding: 0.1% 2%;
}

header nav ul {
	display: flex;
	justify-content: space-around;
	padding: 0;
	list-style: none;
}

header img {
	height: 100%;
}

header li {
	display: flex;
	align-items: center;
	padding: 0.5rem;
}

header li a {
	color: white;
	text-decoration: none;
	font-family: 'Barlow', sans-serif;
}

header li button {
	cursor: pointer;
	box-sizing: border-box;
	padding: 0.7rem;
	font-size: 1.2rem;
	color: white;
	text-decoration: none;
	background-color: transparent;
	border: none;
	transition: 0.2s;
}

header li button:hover {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50px;
}

.banner {
	text-align: center;
	background-color: rgb(62, 191, 255);
	background-image: url('images/desktop/image-header.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	height: 100vh;
	position: relative;
	padding: 5%;
	box-sizing: border-box;
}

.banner h1 {
	font-family: 'Fraunces', serif;
	font-weight: 900;
	color: white;
	font-size: 5rem;
	letter-spacing: 10px;

}

.banner img.arrow {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}



.sentences {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.sentences div:nth-child(3n-2) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 15%;
	font-size: 1.4rem;
}

.sentences div:nth-child(n+4) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 15%;
	font-size: 1.4rem;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
}

.sentences div:nth-child(n+4) .spacer {
	height: 50%;
}


.sentences div:nth-child(5) {
	background-image: url('images/desktop/image-graphic-design.jpg');
}

.sentences div:nth-child(6) {
	background-image: url('images/desktop/image-photography.jpg');
}

.sentences div img{
	width: 100%;
	height: 100%;
}



.quotes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	aspect-ratio: 9/5;
	font-family: 'Barlow', sans-serif;
	color: hsl(198, 62%, 26%);
}

.quotes h2 {
	font-family: 'Fraunces', serif;
	font-size: 1.1rem;
	text-transform: uppercase;
	color: hsl(210, 4%, 67%);
	letter-spacing: 5px;
}

.quotes .quotes-list {
	width: 75%;
	margin-top: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 3%;
}

.quotes .quotes-list div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.quotes .quotes-list img {
	width: 20%;
	border-radius: 50%;
}

.quotes .quotes-list p {
	margin: 15% 0;
	line-height: 1.8;
}

.quotes .quotes-list .person {
	font-size: 0.9rem;
}

.quotes .quotes-list h3 {
	font-family: 'Fraunces', serif;
	font-weight: 900;
	margin-bottom: 0.5rem;
}

.quotes .quotes-list span {
	color: hsl(210, 4%, 67%);
	font-size: 0.8rem;
}



.canvas {
	display: flex;
}

.canvas img {
	width: 25%;
}




footer {
	color: hsl(167, 40%, 24%);
	font-family: 'Barlow', sans-serif;
	background-color: rgb(144, 212, 197);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	aspect-ratio: 3/1;
}

footer > img {
	width: 20%;
	filter: invert(27%) sepia(10%) saturate(2075%) hue-rotate(116deg) brightness(50%) contrast(87%);
}

footer nav {
	width: 30%;
	margin: 2% 0 3%;
}

footer ul {
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

footer ul li {
	text-align: center;
	flex: 1 1 33%;
}

footer ul li a {
	color: hsl(168, 34%, 41%);
	text-decoration: none;
}

footer .socials {
	justify-content: space-around;
}

footer .socials  {
	width: 20%;
}


.attribution {
	background-color: rgb(144, 212, 197);
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

