@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@600&family=Bellefair&display=swap');

body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(62, 191, 255);
	padding: 0.1% 2%;
}

header nav ul {
	display: flex;
	justify-content: space-around;
	padding: 0;
	list-style: none;
}

img {
	height: 100%;
}

li {
	display: flex;
	align-items: center;
	padding: 0.5rem;
}

li a {
	color: white;
	text-decoration: none;
	font-family: 'Barlow', sans-serif;
}

li button {
	cursor: pointer;
	box-sizing: border-box;
	padding: 0.7rem;
	font-size: 1.2rem;
	color: white;
	text-decoration: none;
	background-color: transparent;
	border: none;
	transition: 0.2s;
}

li button:hover {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50px;
}

.banner {
	background-color: rgb(62, 191, 255);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

