<nav>
    <ul>
      <li>
        <a [routerLink]="'home'" routerLinkActive="active">1</a>
      </li>
      <li>
        <a [routerLink]="" routerLinkActive="active">2</a>
      </li>
      <li>
        <a [routerLink]="" routerLinkActive="active">3</a>
      </li>
    </ul>
</nav>

<div class="description">
    <div class="technology-solution">
        <span class="role">THE TERMINOLOGY...</span>
        <p class="name">123</p>
        <p class="bio">123</p>
    </div>
</div>

<div class="planet">
    <img alt="planet">
</div>
