<nav>
    <ul>
      <li>
        <a [routerLink]="'../LaunchVehicle'" routerLinkActive="active">1</a>
      </li>
      <li>
        <a [routerLink]="'../SpacePort'" routerLinkActive="active">2</a>
      </li>
      <li>
        <a [routerLink]="'../SpaceCapsule'" routerLinkActive="active">3</a>
      </li>
    </ul>
</nav>

<div class="description">
    <div class="technology-solution">
        <span>THE TERMINOLOGY...</span>
        <p class="name">{{ technologySolutionData.name | uppercase }}</p>
        <p class="desc">{{ technologySolutionData.description }}</p>
    </div>
</div>

<div class="image">
    <img class="portrait" [src]="technologySolutionData.images.portrait" alt="planet">
    <img class="landscape" [src]="technologySolutionData.images.landscape" alt="planet">
</div>
