:host {
    display: grid;
    align-items: center;

    grid-template-columns: 20% 40% 5% 35%;
    height: 100%;
}

.description {
    display: grid;
    grid-template-rows: 10% 70% 20%;
}

nav {
    height: 100%;
    padding: 30% 0;
    box-sizing: border-box;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
}

li {
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow Condensed', serif;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    height: 75px;
    width: 75px;
    border: 1px solid white;
    border-radius: 50%;
}

a:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.destination-target {
    align-self: center;
}

.portrait {
    grid-column-start: 4;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    object-fit: contain;
}

img {
    justify-self: end;
    width: 100%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
}

.active {
    color: black;
    background-color: white;
}

.technology-solution span {
    font-size: 1.25rem;
    font-family: 'Barlow Condensed';
    color: #D0D6F9;
}

.name {
    font-size: 3.5rem;
    margin: 1rem 0;
    font-family: 'Bellefair';
}

.desc {
    max-width: 500px;
    line-height: 32px;
    font-size: 1.25rem;
    font-family: 'Barlow';
    color: #D0D6F9;
}