@font-face {
	font-family: poppins;
	font-weight: 400;
	font-style: italic;
	src: url('assets/fonts/Poppins-Italic.ttf');
}

@font-face {
	font-family: poppins;
	font-weight: 700;
	src: url('assets/fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: poppins;
	font-weight: 800;
	src: url('assets/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: poppins;
	font-weight: 800;
	font-style: italic;
	src: url('assets/fonts/Poppins-BoldItalic.ttf');
}

html {
	font-family: poppins;
	font-weight: 700;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-color: hsl(0, 0%, 94%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	height: 70%;
	aspect-ratio: 6/4;
	background-color: hsl(0, 0%, 100%);
	border-radius: 20px 20px 180px 20px;
	display: grid;
	grid-template-rows: 20% 15% 65%;
	padding: 60px;
	box-sizing: border-box;
}

.date-picker {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 40px;
}

.date-picker div {
	display: grid;
	grid-template-rows: 20% 60% 20%;
	align-items: center;
	gap: 5px;
}

.date-picker div :nth-child(1) {
	font-weight: 800;
	color: hsl(0, 1%, 44%);
	letter-spacing: 4px;
	margin: 0;
}

input {
	border: 1px solid hsl(0, 0%, 86%);
	width: 100%;
	aspect-ratio: 5/2;
	font-size: 2.4rem;
	padding-left: 1rem;
	letter-spacing: 0.2rem;
	box-sizing: border-box;
	color: hsl(0, 0%, 8%);
	font-weight: 800;
	border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input ~ span {
	align-self: start;
	font-size: 1rem;
	display: none;
	font-style: italic;
	font-weight: 400;
	color: hsl(0, 100%, 67%);
}

.invalid, .future-year, .required {
	border: 1px solid hsl(0, 100%, 67%);
}

:is(.invalid, .future-year) ~ .invalid-alert, .invalid-date ~ .invalid-date-alert, .required ~ .required-alert {
	display: inline;
}

.date-picker span:has(+.invalid, +.required, +.future-year) {
	color: red;
}

.date-picker .invalid-date span {
	color: red;
}

.date-picker .invalid-date input {
	border-color: red;
}

.date-picker input::placeholder {
	color: hsl(0, 1%, 44%);
}

.button-wrap {
	display: flex;
	align-items: center;
	position: relative;
}

.button-wrap hr {
	width: 100%;
	background-color: hsl(0, 0%, 94%);
	height: 2px;
	border: 0;
}

.button-wrap button {
	cursor: pointer;
	width: 8rem;
	border: 0;
	border-radius: 50%;
	background-color: hsl(259, 100%, 65%);
	aspect-ratio: 1/1;
	transition: 0.1s;
}

.button-wrap button:hover {
	background-color: hsl(0, 0%, 8%);
}

.result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 6.5rem;
	font-style: italic;
	font-weight: 800;
}

.result div {
	line-height: 1.1;
}

.result .number {
	color: hsl(259, 100%, 65%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}


@media screen and (min-width: 450px) and (max-width: 700px){
	html {
		font-size: 0.8rem;
	}

	.container {
		width: 90%;
		aspect-ratio: 6/8;
		padding: 40px;
		min-width: 370px;
		border-radius: 30px 30px 110px 30px;
		grid-template-rows: 30% 20% 50%;
	}
	
	.date-picker {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}
	
	.date-picker input {
		aspect-ratio: 4/2;
		max-height: 65px;
		min-height: 48px;
	}

	.date-picker div {
		height: 80%;
		align-self: center;
		align-items: center;
	}

	.button-wrap button {
		width: 7rem;
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}
	
	.result {
		font-size: 4.7rem;
	}
}