@font-face {
	font-family: poppins;
	font-weight: 400;
	src: url('assets/fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: poppins;
	font-weight: 800;
	font-style: italic;
	src: url('assets/fonts/Poppins-BoldItalic.ttf');
}

html {
	font-family: poppins;
	font-weight: 600;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-color: hsl(0, 0%, 94%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	height: 70%;
	aspect-ratio: 6/4;
	background-color: hsl(0, 0%, 100%);
	border-radius: 20px 20px 180px 20px;
	display: grid;
	grid-template-rows: 20% 15% 65%;
	padding: 60px;
	box-sizing: border-box;
}

.date-picker {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 40px;
}

.date-picker div {
	display: flex;
	flex-direction: column;
}

.date-picker span {
	color: hsl(0, 1%, 44%);
	margin-bottom: 10px;
	letter-spacing: 4px;
}

.date-picker input {
	border: 1px solid hsl(0, 0%, 86%);
	height: 80%;
	width: 100%;
	font-size: 2.4rem;
	padding-left: 20px;
	letter-spacing: 2px;
	box-sizing: border-box;
	color: hsl(0, 0%, 8%);
	font-weight: 800;
	border-radius: 5px;
}

.date-picker input::placeholder {
	color: hsl(0, 1%, 44%);
}

.button-wrap {
	display: flex;
	align-items: center;
}

.button-wrap hr {
	width: 100%;
	background-color: hsl(0, 0%, 94%);
	height: 2px;
	border: 0;
}

.button-wrap button {
	cursor: pointer;
	width: 100px;
	border: 0;
	border-radius: 50%;
	background-color: hsl(259, 100%, 65%);
	aspect-ratio: 1/1;
}

.result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 6.5rem;
	font-style: italic;
	font-weight: 800;
}

.result div {
	line-height: 1.1;
}

.result .number {
	color: hsl(259, 100%, 65%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
