:host {
    font-family: 'Barlow Condensed';
    padding: 3% 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

h2 {
    color: rgba(255, 255, 255, 0.25);
    letter-spacing: 0.25rem;
    flex: 1;
}

h2 span {
    color: white;
    padding-left: 1rem;
    font-weight: lighter;
}