:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 95%;
    position: relative;
}

img {
    height: 50%;
}

hr {
    z-index: 1;
    width: 35%;
    left: 25%;
    transform: translateX(-50%);
    border: 1px solid rgba(128, 128, 128, 0.4);
    position: absolute;
}

.nav-menu {
    display: none;
}

nav {
    height: 100%;
    flex-basis: 50%;
    padding: 0 5%;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);

    ul {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: space-around;
        list-style: none;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1%;
            position: relative;
        }
    }

    a {
        font-family: 'Barlow Condensed', serif;
        text-decoration: none;
        color: white;
        letter-spacing: 2.7px;
        text-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;

        span {
            font-weight: bolder;
        }

        &.active::after, &:hover:not(.active)::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            left: 0;
        }     
        
        &.active::after {
            background-color: white;
        }
        
        &:hover:not(.active)::after {
            background-color: #979797;
        }
    }
}

@media screen and (max-width: 950px) {
    :host {
        height: 100%;
    }
    
    hr {
        display: none;
    }

    nav {
        flex-basis: 60%;
        padding: 0 2%;

        a {
            span {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    :host {
        width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 5%;
    }
    
    .nav-menu {
        flex-basis: 8%;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 2;

        span {
            display: block;
            height: 15%;
            width: 100%;
            background-color: #D0D6F9;
        }

        &:has(+.active) {
            position: relative;

            span {
                position: absolute;
                top: 50%;
                transition: 0.5s;

                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        padding: 30% 0 0 0;
        box-sizing: border-box;
        background-color: transparent;
        backdrop-filter: none;
        position: absolute;
        overflow: hidden;
        height: 100vh;
        width: 0;
        top: 0;
        right: 0;
        transition: 0.1s;

        ul {
            height: fit-content;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.01);
            backdrop-filter: none;

            li {
                padding: 6% 10%;
                justify-content: flex-start;
            }
        }

        a {
            width: 100%;
            height: 100%;
            
            span {
                display: inline;
            }

            &.active::after, &:hover:not(.active)::after {
                height: 100%;
                width: 5px;
                left: auto;
                right: 0;
            }
        }

        &.active {
            width: 75vw;
            z-index: 1;
            backdrop-filter: blur(16px);

            span:nth-child(2){
                display: none;
            }
        }
    }
}