<img src="assets/shared/logo.svg" alt="logo" />
<hr />
<div class="nav-menu" (click)="changeNavState()">
  <span></span>
  <span></span>
  <span></span>
</div>
<nav [ngClass]="{'active': isActive}">
  <ul>
    <li>
      <a [routerLink]="'home'" routerLinkActive="active"><span>00</span> Home</a>
    </li>
    <li>
      <a [routerLink]="'destination'" routerLinkActive="active"><span>01</span> Destination</a>
    </li>
    <li>
      <a [routerLink]="'crew'" routerLinkActive="active"><span>02</span> Crew</a>
    </li>
    <li>
      <a [routerLink]="'technology'" routerLinkActive="active"><span>03</span> Technology</a>
    </li>
  </ul>
</nav>
