:host {
    display: grid;
    grid-template-rows: 15% 0% 85%;
    min-height: 100vh;
}

app-header {
    align-self: center;
    justify-self: flex-end;
}

@media screen and (max-width: 950px) {
    :host {
        display: grid;
        grid-template-rows: 10% 0% 90%;
    }

    app-header {
        align-self: flex-start;
    }
}

@media screen and (max-width: 450px) {
    :host {
        display: flex;
        flex-direction: column;
    }
}