<h2>02 <span>MEET YOUR CREW</span></h2>
<div class="content">
    <div class="description">
        <span class="role">{{ crewMemberData.role | uppercase }}</span>
        <span class="name">{{ crewMemberData.name }}</span>
        <p class="bio">{{ crewMemberData.bio }}</p>
        <ul>
            <li><a href="https://google.com"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
    <div class="person">
        <img [src]="crewMemberData.images.png" alt="person">
    </div>
</div>