@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

body {
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: white;
}

.crew-bg {
    background-image: url(/assets/crew/background-crew-desktop.jpg);
}

.technology-bg {
    background-image: url(/assets/technology/background-technology-desktop.jpg);
}

.destination-bg {
    background-image: url(/assets/destination/background-destination-desktop.jpg);
}

.home-bg {
    background-image: url(/assets/home/background-home-desktop.jpg);
}

@media screen and (max-width: 950px) {
    .crew-bg {
        background-image: url(/assets/crew/background-crew-tablet.jpg);
    }
    
    .technology-bg {
        background-image: url(/assets/technology/background-technology-tablet.jpg);
    }
    
    .destination-bg {
        background-image: url(/assets/destination/background-destination-tablet.jpg);
    }

    .home-bg {
        background-image: url(/assets/home/background-home-tablet.jpg);
    }
} 

@media screen and (max-width: 450px) {
    .crew-bg {
        background-image: url(/assets/crew/background-crew-mobile.jpg);
    }
    
    .technology-bg {
        background-image: url(/assets/technology/background-technology-mobile.jpg);
    }
    
    .destination-bg {
        background-image: url(/assets/destination/background-destination-mobile.jpg);
    }

    .home-bg {
        background-image: url(/assets/home/background-home-mobile.jpg);
    }
} 